<div class="page-header">

  <div class="dropdown pull-right">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      New Connection
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#connections/new/no_auth">No Authentication</a></li>
      <li><a href="#connections/new/basic">Basic Authentication</a></li>
      <li><a href="#connections/new/oauth2">OAuth2</a></li>
    </ul>
  </div>

  <h1>Connections#index</h1>
</div>
<div class="list-group"></div>
